<% if post.favorited_by?(current_user) %>
  <p>
    <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
      ♥<%= post.favorites.count %>　お気に入りをはずす
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to post_favorites_path(post), method: :post, remote: true do %>
      ♡<%= post.favorites.count %>　お気に入りへ追加
    <% end %>
  </p>
<% end %>