<div class="row">
  <div class="col-md-3">
    <h2>Followers</h2>
    <!--<p><%= link_to "All Users", users_path %></p>-->
    <!--<p><%= link_to "followings", user_followings_path(current_user) %></p>-->
  </div>

  <div class="col-md-8 offset-1">
    <%= render "users/user_index", users:@users %>
  </div>

</div>