<table class="table">
  <% post.post_comments.each do |comment| %>
      <tr>
        <td>
          <%= attachment_image_tag comment.user, :icon, :fill, 30, 30, fallback: "no_image.png",size:"30x30" %></td>
        <td><%= "#{comment.user.name}:" %>
        </td>
        <td>
          <%= comment.comment %>
          <% if comment.user == current_user %>
            <div class="text-right"><%= link_to "delete.", post_post_comment_path(post.id,comment.id), method: :delete, remote: true %></div>
          <%end%>
        </td>
      </tr>
  <% end %>
</table>