<div class="box" style="background: #edeae1;">
  <div class = "container">

    <h2>All Users</h2>
    <%= render "searches/form_user_search" %>
    <%= render "user_index", users: @users %>
      
  </div>
</div>
