<div class="col-md-5 mr-auto mb-5">
  <%= form_with url: user_search_path, local: true, method: :get do |f| %>
    <div class="row">
      <%= f.text_field :word ,placeholder: "ユーザー検索", class:"form-control ml-auto",style:"width: 300px;height: 50px;border-radius:3em;" %>
      <%= button_tag type: 'submit', class: "btn mr-auto" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %>

</div>
