<div class="mx-auto p-5" style="width:90%;">

  <%= form_with url: user_search_path, local: true, method: :get ,class:"row" do |f| %>
    <%= f.text_field :word ,placeholder: "ユーザー検索", class:"search form-control" %>
    <%= button_tag type: 'submit', class: "btn" do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>

</div>
