
<div class="tag-list">
  <p>タグで探す</p>
  <% @tags.each do |tag| %>
    <span class="pr-1">
      <%= link_to tag.name, tag_search_path(tag_id: tag.id) %><%="(#{tag.posts.count}), " %>
    </span>
  <%end%>
</div>

<h2>Search results'<%= @tag.name %>'</h2>


<div class="row">
    <%= render "posts/post_index", posts: @posts %>
</div