<div class="row">
  <div class="col-md-3">
    <h2>search for '<%= @word %>'</h2>
    <%= render "searches/form_user_search" %>
  </div>

  <div class="col-md-8 offset-1">
    <%= render "users/user_index", users: @users %>
  </div>

</div>