<% posts.each do |post| %>
  
  <div class="col-md-4">
    <% post.post_images.first(1).each do |image| %>
      <%= attachment_image_tag image, size: "200x200"%>
    <% end %>
    <%=link_to post_path(post) do %><%= post.body %><%end%>
  </div>
  
<% end %>