<div class="box" style="background: #edeae1;">
  <div class = "container">

    <h2>timeline</h2>
    
    <%= render "post_index", posts: @posts %>
    <div class="my-5 ml-auto">
      <%= paginate(@posts) %>
    </div>

  </div>
</div>
