<div class="box" style="background: #edeae1;">
  <div class = "container">

<h2>timeline</h2>

<div class="row">
</div>

<div class="row">
  <%= render "post_index", posts:@posts %>
</div>

</div>
</div>
