/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}


header{
  height: 80px;
  background: rgba(255,255,255,0.6);
  // border-bottom: 1px solid #e3e3e3;
  text-align: center;
  position: relative;
}

.brand{
  font-size: 50px;
  font-family: 'Estonia', cursive;
  a{
    color: #9e665d;
  }
}

.social {
  position: absolute;
  top: 27px;
  right: 22px;

  a{
    display: inline-block;
    margin-left: 10px;
    color: #6c6b6b;
  }
}

.box{
  width: 100%;
  padding: 100px 0;

}

h2{
  text-align: center;
  margin: 100px auto 40px;
  // border-bottom: 3px solid #6c6b6b;
  font-family: 'Dosis', sans-serif;
}

.pagination{
  justify-content: center;

  li{
    a {
      border: none;
      color: #6c6b6b;
    }
    a:hover {
      border-radius: 5px;
      color: #6c6b6b;
    }
  }

  .active>.page-link{
    background: #6c6b6b;
    border-radius: 5px;
  }
}


// pagetopへ戻る
#arrow {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.arrow-img {
  width: 50px;
  height: 50px;
}

// ハンバーガーアイコン
#hm-icon {
  position: fixed;
  left: 20px;
  top: 30px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 30px;
  height: 20px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #6c6b6b;
  border-radius: 10px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 9px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(-45deg);
  transform: translateY(9px) rotate(-45deg);
  background-color: #FFF;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(45deg);
  transform: translateY(-9px) rotate(45deg);
  background-color: #FFF;
}

// ハンバーガーアイコン　中身
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000000c2;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
#sp-menu ul {
  margin-top: 100px;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Dosis', sans-serif;

}
#sp-menu span {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px
}

// 投稿、ログインボタン
.submit{
  width: 40%;
  padding: 10px;
  background: #9e665d;
  color: #edeae2;
  border-radius: 3rem;
  border: none;
}

.back {
  padding: 10px;
  color: #9e665d;
}

.top-line{
  border-top: 1px solid #e3e3e3;
  padding-top: 50px;
}

.bottom-line{
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 30px;
}