// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// topページメイン画像
#top{
  height: 500px;
  width: 100%;
  .top1{
   background-image: image-url("top1.jpg");
  }
  .top2{
   background-image: image-url("top2.jpg");
  }
  .top3{
   background-image: image-url("top3.jpg");
  }
  .top4{
   background-image: image-url("top4.jpg");
  }
  .top5{
   background-image: image-url("top5.jpg");
  }
}
